workflows/Bill_Assistent.json
{
  "name": "Bill Assistent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -140
      ],
      "id": "16d6d16c-aa0c-4507-aca1-96d6b57a67a2",
      "name": "Telegram Trigger",
      "webhookId": "56857f79-5406-49ea-8ec3-d8f53932320e",
      "credentials": {
        "telegramApi": {
          "id": "uj26056TWmv7nUqu",
          "name": "Telegram Bill Assistant"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c390516-b1b1-4086-bb72-c4276f6d0da1",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        -140
      ],
      "id": "fd1b6a0d-f065-4bc9-852e-fa11d2833a12",
      "name": "Has Photo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Opa! Favor enviar uma foto da sua: fatura, comprovante de pagamento,etc..",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -500,
        0
      ],
      "id": "e2cc9176-52df-4fe3-9984-c7eeb6894ffe",
      "name": "Telegram",
      "webhookId": "b0cc7f34-89fa-4d9f-9210-4a3d94df490c",
      "credentials": {
        "telegramApi": {
          "id": "uj26056TWmv7nUqu",
          "name": "Telegram Bill Assistant"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Analizando a fatura....",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -500,
        -280
      ],
      "id": "9ba11759-6489-4d40-bd99-e2d6c202110e",
      "name": "Telegram1",
      "webhookId": "8789d64f-90ca-4fb4-9f48-f5c36d4453f7",
      "credentials": {
        "telegramApi": {
          "id": "uj26056TWmv7nUqu",
          "name": "Telegram Bill Assistant"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apiKey",
              "value": "K84542038088957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "data",
              "inputDataFieldName": "data"
            },
            {
              "name": "ocrEngine",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -280
      ],
      "id": "98b60b87-9255-42f5-8870-6f5d65c9bd7a",
      "name": "OCR API",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -340,
        -280
      ],
      "id": "9f8c7e48-b655-449a-b511-a1abb25460b7",
      "name": "Telegram2",
      "webhookId": "136b8ae3-b93e-41ac-a572-433cdd4d6a93",
      "credentials": {
        "telegramApi": {
          "id": "uj26056TWmv7nUqu",
          "name": "Telegram Bill Assistant"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e5c2745-785e-4bdc-ab1f-9135dc16b359",
              "leftValue": "={{ $json.ErrorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        -280
      ],
      "id": "64aeb046-0e7a-4743-a2f6-74d7ba13f31e",
      "name": "OCR Success"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Poxa, o sistema de OCR não está respondendo 😤\nTente novamente em instantes 🤷‍♂️",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        -180
      ],
      "id": "74a8bf19-841b-47bb-a0f7-81b5c55378b5",
      "name": "Telegram3",
      "webhookId": "ea7300e4-dfc8-4e9c-8856-76d3dc9a9a3f",
      "credentials": {
        "telegramApi": {
          "id": "uj26056TWmv7nUqu",
          "name": "Telegram Bill Assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -880,
        -840
      ],
      "id": "f5e88407-3b85-4a62-ac7f-b0c9508317f7",
      "name": "Gmail",
      "webhookId": "7512fee1-b8a3-41b1-87d7-8341a3b2ea22",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ogE7dLrsa30wymy1",
          "name": "Gmail account"
        }
      },
      "disabled": true,
      "notes": "Getting details"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -840
      ],
      "id": "833241bd-4541-4bc1-982c-1588ba398c19",
      "name": "Gmail Trigger",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ogE7dLrsa30wymy1",
          "name": "Gmail account"
        }
      },
      "disabled": true,
      "notes": "Email Received"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -600,
        -840
      ],
      "id": "6f71e418-8b9e-4e15-a5fc-a8520c8870a7",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mjUGeMpQCtOlwNd3",
          "mode": "list",
          "cachedResultName": "Save Tx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bill": "={{ $json.text }}"
          },
          "matchingColumns": [
            "bill"
          ],
          "schema": [
            {
              "id": "bill",
              "displayName": "bill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -380,
        -840
      ],
      "id": "77698b73-93a9-4fb4-b261-79b13a1d8fdd",
      "name": "Execute Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mjUGeMpQCtOlwNd3",
          "mode": "list",
          "cachedResultName": "Save Tx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bill": "={{ $('OCR Success').item.json.ParsedResults[0].ParsedText }}"
          },
          "matchingColumns": [
            "bill"
          ],
          "schema": [
            {
              "id": "bill",
              "displayName": "bill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        -400
      ],
      "id": "cf8eb56a-55a5-4c33-b22f-a466c361d3dc",
      "name": "Execute Workflow1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Photo": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API": {
      "main": [
        [
          {
            "node": "OCR Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "OCR API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Success": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3c4baca-496a-4256-9c5a-e38ce9781f01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "069516fa408bfca5c9bbb9ce2450267e481dff6becd936f8d07702b857f9f249"
  },
  "id": "Bcc9HyFd1MgLIl88",
  "tags": []
}