workflows/PJ_Assistent.json
{
  "name": "PJ Assistent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1540,
        680
      ],
      "id": "b4ab8909-4cf1-440b-8071-55546d4f4a1c",
      "name": "Telegram Trigger",
      "webhookId": "85244450-329e-4180-a71a-fea56de43401",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7a6a198-7ed2-4856-9cf1-e4d095104351",
              "leftValue": "={{ $json.message.document.mime_type }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1240,
        260
      ],
      "id": "5d3d9b98-1a8c-4e63-b35c-8b8f762708e9",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -560,
        240
      ],
      "id": "5bd18564-5b13-48ab-a59b-377aaea1a758",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "id": "6b08b43d-3b37-4f67-9f6a-d97610270015",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9RhmBdaqjMmiyd45",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "326607b1-a3b5-40d4-aa2c-7f3c770b5b7b",
              "name": "expenses",
              "value": "={{ JSON.parse($json.text) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -140
      ],
      "id": "f362f37d-6881-4c62-8333-def7217779d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Boa 💰\nVejo que em {{$json.expenses.find(it => it.due_date).due_date_value}} você teve os seguintes recebimentos:\n\n{{ $json.expenses.map(item => item.expense ? ` 💵 ${item.expense}: US$ ${item.amount}` : (item.total ? ` 💵 Total: US$ ${item.total}`: '')).join('\\n') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        -140
      ],
      "id": "25941959-4f71-4bc6-8778-9472878e514c",
      "name": "Show receives summary",
      "webhookId": "348f549b-a1ff-4e22-83bb-b91fad21d82a",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "Agora, qual o valor total recebido em BRL na sua conta PJ?",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Total recebido em BRL",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        -140
      ],
      "id": "b057eee1-36ce-462f-88d3-8e25a8cbe75c",
      "name": "Ask BRL amount",
      "webhookId": "f3dc2b08-249b-41f1-8e98-6baea3a2bd55",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ótimo, então a cotação do dolar foi de 🇧🇷 R$ {{ new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format($json.cotacao_usd_brl);  }}. \nDito isso, deixe-me recalcular as notas em reais....",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        -140
      ],
      "id": "cbc9a9a9-d3f6-47b0-bb5c-b4e67e96ac2e",
      "name": "Telegram4",
      "webhookId": "24b3c0fc-48e9-4bd0-b6e3-e252ada213c7",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5164dbb2-162d-43ae-af0f-ea16d2f9e023",
              "name": "cotacao_usd_brl",
              "value": "={{parseFloat($json.data['Total recebido em BRL'] / $('Edit Fields').item.json.expenses.find(it => it.total).total) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -140
      ],
      "id": "5ae3cf2d-1227-403f-ba37-fe92a35890f6",
      "name": "Get Dollar Rate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Seguem os valores das Notas para o pagamento de {{ $('Edit Fields').item.json.expenses.find(item => item.due_date).due_date_value }}\n\n{{ $json.values_brl.join('\\n') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1860,
        -140
      ],
      "id": "f84c0a30-322f-4f9d-bcc8-3051cd61982c",
      "name": "Telegram5",
      "webhookId": "006a61fd-b270-438a-85ed-7d55dbf02552",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Legal, ví que você forneceu o aquivo em PDF, agora vou processa-lo...",
        "replyMarkup": "=none",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        240
      ],
      "id": "4f6ae62f-3f79-4807-b51b-75e6e75cfc5c",
      "name": "Akg PDF",
      "webhookId": "348f549b-a1ff-4e22-83bb-b91fad21d82a",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da1926fb-a59d-48e8-8b65-dad9a74644de",
              "name": "values_brl",
              "value": "={{JSON.stringify($('Edit Fields').item.json.expenses.filter(it => it.expense).map(item => item.expense + ': ' + new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(item.amount * $('Get Dollar Rate').item.json.cotacao_usd_brl)))}} ",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        -140
      ],
      "id": "1a2370c5-885d-477e-b7a1-c74a0f6fda1d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/valores_notas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "038b03a5-73c2-4bd5-aada-6a6fc6d79ce7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4dd83caf-c873-4fff-bbe5-5b5862e47da8",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/upload_notas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd854e48-82eb-40c8-9a44-695f85d21096",
                    "leftValue": "={{ !['/valores_notas', '/upload_notas'].find($json.message.text) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1320,
        680
      ],
      "id": "c85d0312-ba39-4a92-861c-50b419a428b4",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2080,
        -140
      ],
      "id": "e603730d-c13a-49e6-926d-958e2b7ca536",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        240
      ],
      "id": "631330a1-257e-4c80-95bc-57bb20accc41",
      "name": "Get PDF",
      "webhookId": "323e5ca4-9a8c-4d1a-8efb-b8f269e77e6f",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f84e84e-689c-48ce-a366-13eb8c9d464a",
              "leftValue": "={{ $json.info.Title }}",
              "rightValue": "invoice",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        240
      ],
      "id": "dbcfaca8-465f-4774-a3bd-8f4cbb6e4168",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please extract the date of the invoice. The output must be in the following format {Month-Year}, and must be in pt-BR.\n\nExample: 20/05/2024, output=Maio-2024.\n\nInvoice data:  {{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -180,
        360
      ],
      "id": "25ea3db0-64c5-44b0-9291-7ca6c44a93d6",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -100,
        580
      ],
      "id": "1a298d49-37c0-4e07-a4b1-da2c1b548d9e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9RhmBdaqjMmiyd45",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Prontinho,o arquivo foi enviado para o diretório PJ/{{ $('Basic LLM Chain1').item.json.text.trim() }} do seu Google Drive!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        540
      ],
      "id": "31a24c0e-9e18-400e-a0e1-9500c5c6d265",
      "name": "Telegram3",
      "webhookId": "d721b08c-f86e-4e39-ac45-08df36c659d0",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Ok, mande os PDFs das notas para que eu faça o upload.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        680
      ],
      "id": "84e033cd-4ddb-4a7d-af6e-a203305c978b",
      "name": "Ask PDF for upload",
      "webhookId": "828d74a8-21ba-4732-95e1-8764b79762c7",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Manda o PDF",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1020,
        500
      ],
      "id": "a2d4f903-676a-4538-b6f9-ccb25ebb6903",
      "name": "Ask PDF for parsing",
      "webhookId": "a4d8dc0c-7792-42ba-8b33-e4d6eef2ae31",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Olá, escolha uma das oções abaixo:\n/valores\\_notas\n/upload\\_notas",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        960
      ],
      "id": "5a5b2b78-1f02-4ed8-bf9e-41ab9c4a69b4",
      "name": "Show options",
      "webhookId": "e7820461-38c1-4afc-8233-b5a276c72802",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  Extract the table from:  {{ $json.text }} to a json array. Example of item of the array{\"expense\": \"expense_description\", \"amount\":\"amount_value\"}, please include the total as {\"total\":\"amount\"}. Don't put new line scapes. Don't put the json prefix in the message, just the ready json to be parsed. Additionally, extract the issue due date in another object {\"due_date\", \"due_date_value\"}, and include this last object in the same array. (Translate all text to pt-br)\n\nDetails bout the due_date_value: The input format is 'MM DD, YYYY', the output format I need is 'MM of YYYY', just month and year in the output, and translated to pt-BR. (Exmaple: May 31, 2020 - turns to: Maio de 2020) DONT PUT THE DAY IN THE OUTPUT"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -120,
        -140
      ],
      "id": "b3fe8ee7-8b45-4871-ac2b-67db9cc24551",
      "name": "Process Invoice"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Basic LLM Chain1').item.json.text }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1rDpjb7PJ3rjhck8i7hiRiu1yEGsEOLi0",
            "mode": "list",
            "cachedResultName": "PJ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1rDpjb7PJ3rjhck8i7hiRiu1yEGsEOLi0"
          },
          "includeTrashed": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        360
      ],
      "id": "8e55dccf-ee39-4a97-a7ae-14626c1cbbe5",
      "name": "Search existing folder",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ZZCWoVQmPB6nLWI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Basic LLM Chain1').item.json.text.trim() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rDpjb7PJ3rjhck8i7hiRiu1yEGsEOLi0",
          "mode": "list",
          "cachedResultName": "PJ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rDpjb7PJ3rjhck8i7hiRiu1yEGsEOLi0"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        540
      ],
      "id": "8b003a62-4b2e-49e3-9921-382b7048b1fe",
      "name": "Create Month Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ZZCWoVQmPB6nLWI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Get PDF').item.json.result.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        540
      ],
      "id": "1ed30e75-5092-4c3e-81f7-6b97cb1a8054",
      "name": "Read File",
      "webhookId": "46604a6c-1c8e-4149-9174-8e2adda11003",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Set file name').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Month Folder').item.json.id  || $('Search existing folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1020,
        540
      ],
      "id": "4b09b8d4-ca93-4175-8f6b-96a20134258c",
      "name": "Upoad file",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ZZCWoVQmPB6nLWI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Prontinho,o arquivo foi enviado para o diretório PJ/{{ $('Basic LLM Chain1').item.json.text.trim() }} do seu Google Drive!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1700,
        320
      ],
      "id": "8c1488ca-cdd2-4f2a-bb8a-98118ee6cea2",
      "name": "Telegram",
      "webhookId": "d721b08c-f86e-4e39-ac45-08df36c659d0",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Get PDF').item.json.result.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1220,
        320
      ],
      "id": "95e408a6-533c-4728-bab9-7855078becf8",
      "name": "Read File1",
      "webhookId": "46604a6c-1c8e-4149-9174-8e2adda11003",
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Set file name').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search existing folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1500,
        320
      ],
      "id": "02bcfa47-bb6f-40ff-87c8-4c1b548913ce",
      "name": "Upoad to existing folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ZZCWoVQmPB6nLWI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Set file name').item.json.file_name }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search existing folder').item.json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        240
      ],
      "id": "43cd3be9-dca1-4f90-96e9-0078da01525c",
      "name": "Search File",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ZZCWoVQmPB6nLWI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=O arquivo já estava presente no seu Google Drive!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1240,
        140
      ],
      "id": "1124b958-3e96-4862-919a-f0ac94b45fae",
      "name": "Arquivo já enviado anteriormente",
      "webhookId": "d721b08c-f86e-4e39-ac45-08df36c659d0",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "LDbOtnSZnjgyQ75g",
          "name": "Telegram PJ Assistent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "424c63c1-2d47-47f8-8986-22de5a83cf29",
              "name": "file_name",
              "value": "={{ ($('If').item.json.text.includes(\"NOTA DE DÉBITO\") ? \"Nota-Debito-\" : \"NF-\") + $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        360
      ],
      "id": "1a99e719-63a7-4f00-ade3-e62915506e24",
      "name": "Set file name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "057468c9-0adb-4471-91ce-55efd6535ab1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Basic LLM Chain1').item.json.text.trim() }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        360
      ],
      "id": "29118e15-1850-4757-975e-44439793ee84",
      "name": "Folder Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27b4f337-f17c-43b8-a3f7-73eb2b7b5dca",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        240
      ],
      "id": "105d7b69-ddb7-42c7-aa56-27d9ec293854",
      "name": "File exists",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Akg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Invoice",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Show receives summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show receives summary": {
      "main": [
        [
          {
            "node": "Ask BRL amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask BRL amount": {
      "main": [
        [
          {
            "node": "Get Dollar Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram4": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dollar Rate": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Akg PDF": {
      "main": [
        [
          {
            "node": "Get PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ask PDF for parsing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask PDF for upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Process Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Set file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Invoice": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search existing folder": {
      "main": [
        [
          {
            "node": "Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Month Folder": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Upoad file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upoad file": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File1": {
      "main": [
        [
          {
            "node": "Upoad to existing folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upoad to existing folder": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search File": {
      "main": [
        [
          {
            "node": "File exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set file name": {
      "main": [
        [
          {
            "node": "Search existing folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Exists": {
      "main": [
        [
          {
            "node": "Search File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Month Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists": {
      "main": [
        [
          {
            "node": "Arquivo já enviado anteriormente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3106e05-5fb4-4a8a-bfeb-b6cd7c2c85e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "069516fa408bfca5c9bbb9ce2450267e481dff6becd936f8d07702b857f9f249"
  },
  "id": "5vLowpxlF9R31htJ",
  "tags": [
    {
      "createdAt": "2025-04-08T17:08:11.921Z",
      "updatedAt": "2025-04-08T17:08:11.921Z",
      "id": "wujUnribyNHzvy93",
      "name": "telegram"
    },
    {
      "createdAt": "2025-04-08T17:08:19.128Z",
      "updatedAt": "2025-04-08T17:08:19.128Z",
      "id": "3F6pnN5beHgaCOgL",
      "name": "personal"
    }
  ]
}